/*
	Hypixel Ranks
	ThorinDev
*/

MCblack {
	color: #000000;
}

MCdBlue {
	color: #0000AA;
}

MCdGreen {
	color: #00AA00;
}

MCdAqua {
	color: #00AAAA;
}

MCdRed {
	color: #AA0000;
}

MCdPurple {
	color: #AA00AA;
}

MCgold {
	color: #FFAA00;
}

MC