/*
	Minecraft Color Codes
	ThorinDev
*/

Black {
	color: #000000;
}

dBlue {
	color: #0000AA;
}

dGreen {
	color: #00AA00;
}

dAqua {
	color: #00AAAA;
}

dRed {
	color: #AA0000;
}

dPurple {
	color: #AA00AA;
}

Gold {
	color: #FFAA00;
}

Gray {
	color: #AAAAAA;
}

dGray {
	color: #555555;
}

Blue {
	color: #5555FF;
}

Green {
	color: #55FF55;
}

Aqua {
	color: #55FFFF;
}

Red {
	color: #FF5555;
}

lPurple {
	color: #FF55FF;
}

Yellow {
	color: #FFFF55;
}

While {
	color: #FFFFFF;
}